/*root css variables*/

:root{
    --main-gradiant: linear-gradient(to right bottom, #00154e, #001445, #00123c, #001032, #010c29);
}

/*utility classes*/

/*Displays*/

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}

/*reset style*/

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
